<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Atualizar Tarefa</title>
   <link rel="stylesheet" href="styles.css"> 
</head>
<body>
<form action="#" th:action="@{/atualizar/{id}(id=${tarefa.id})}" th:object="${tarefa}" method="post">

    <label for="titulo">Titulo: </label>
    <input type="text" th:field="*{titulo}" id="titulo">
    <span th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></span>
    <br />
    <label for="descricao">Descrição: </label>
    <input type="text" th:field="*{descricao}" id="descricao">
    <br />
    <label for="prazo">Prazo</label>
    <input type="date" th:field="*{prazo}" id="prazo"/>
    <br />
    <label for="concluido">Concluido</label>
    <input type="checkbox" th:field="*{concluido}" id="concluido">
    <span th:if="${#fields.hasErrors('concluido')}" th:errors="*{concluido}"></span>
    <br />
    <input type="submit" value="Atualizar">
</form>
</body>
</html>
