<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Tarefas</title>
   <link rel="stylesheet" href="styles.css"> 
</head>
<body>
    <div th:switch="${tarefas}">
        <h2 th:case="null">Ainda não há tarefas!</h2>
        <div th:case="*">
            <h1>Tarefas</h1>
            <h2>Filtro</h2>
            <form th:action="@{/filtrar}" method="post">
                <label for="status_filtro">Status:</label>
                <select name="status_filtro" id="status_filtro">
                    <option value="">Selecione</option>
                    <option value="concluido">Concluído</option>
                    <option value="pendente">Pendente</option>
                </select>

                <label for="prazo_filtro">Prazo:</label>
                <input type="date" name="prazo_filtro" id="prazo_filtro">

                <label for="chave_filtro">Palavra chave:</label>
                <input type="text" name="chave_filtro" id="chave_filtro">

                <input type="submit" value="Filtrar">
            </form>
            <br/>
            <table>
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Descrição</th>
                        <th>Prazo</th>
                        <th>Concluído</th>
                        <th>Editar</th>
                        <th>Remover</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tarefa : ${tarefas}">
                        <td th:text="${tarefa.titulo}"></td>
                        <td th:text="${tarefa.descricao}"></td>
                        <td th:text="${#dates.format(tarefa.prazo, 'dd/MM/yyyy')}"></td>
                        <td th:text="${tarefa.concluido}"></td>
                        <td><a th:href="@{/editar/{id}(id=${tarefa.id})}">Editar</a></td>
                        <td><a th:href="@{/remover/{id}(id=${tarefa.id})}">Remover</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p><a href="/nova-tarefa">Adicionar uma nova tarefa</a></p>
    </div>
</body>
</html>
