<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Tarefas</title>
   <link rel="stylesheet" href="styles.css"> 
</head>
<body>
    <div th:switch="${tarefas}">
        <h2 th:case="null">Ainda não há tarefas!</h2>
        <div th:case="*">
            <h2>Tarefas</h2>
            <table>
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Descrição</th>
                        <th>Prazo</th>
                        <th>Concluído</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tarefa : ${tarefas}">
                        <td th:text="${tarefa.titulo}"></td>
                        <td th:text="${tarefa.descricao}"></td>
                        <td th:text="${#dates.format(tarefa.prazo, 'dd/MM/yyyy')}"></td>
                        <td th:text="${tarefa.concluido}"></td>
                        <td><a th:href="@{/editar/{id}(id=${tarefa.id})}">Editar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p><a href="/nova-tarefa">Adicionar uma nova tarefa</a></p>
    </div>
</body>
</html>
